.vs/
Arquivos/bin/*
Arquivos/obj/*
Constantes/bin/*
Constantes/obj/*
Dados/bin/*
Dados/obj/*
Documentos/bin/*
Documentos/obj/*
Empresas/bin/*
Empresas/obj/*
Enderecos/bin/*
Enderecos/obj/*
Folha/bin/*
Folha/obj/*
Ibge/bin/*
Ibge/obj/*
Interfaces/bin/*
Interfaces/obj/*
Mensagens/bin/*
Persistencia/bin/*
Persistencia/obj/*
Mensagens/obj/*
Pessoas/bin/*
Pessoas/obj/*
Telefones/bin/*
Telefones/obj/*
Utilitarios/bin/*
Utilitarios/obj/*