.vs/
Constantes/bin/*
Constantes/obj/*
Dados/bin/*
Dados/obj/*
Documentos/bin/*
Documentos/obj/*
Enderecos/bin/*
Enderecos/obj/*
Ibge/bin/*
Ibge/obj/*
Mensagens/bin/*
Mensagens/obj/*
Pessoas/bin/*
Pessoas/obj/*
Telefones/bin/*
Telefones/obj/*
Utilitarios/bin/*
Utilitarios/obj/*